* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

header{
  width: 1120px;
  margin: 9.5px auto;
  position: sticky;
  top: 9.5px;
  
  
}




.header-content{
  
  display: flex;
  justify-content: space-between;

}

.login-button{
  width: 128px;
  height: 48px;
  margin: 1.5px 0 1.5px;
  border-radius: 8px;
  font: 600 16px/26px "Pretendard";
  background-color: #3692FF;
  padding: 12px 23px;
  text-align: center;
  color: #f3f4f6;

}

.landing-header{
  background-color: #cfe5ff;
  padding-top: 200px;
}

.section-content{
  width: 1110px;
  margin:auto;
  display: flex;
  justify-content: space-between;

}

div > h1{
  font: 700 40px/140% "Pretendard";
  width: 295px;
  color:#374151;
}

.section-content a{
  border-radius: 40px;
  background-color: #3692FF;
  display: inline-block;
  width:357px;
  text-align: center;
  padding: 16px 124px;
  font: 600 20px/32px "Pretendard";
  color: #f9fafb;
}

.landing-section{
  
  display: flex;
  align-items: center;
  margin:138px auto;
  width:988px;
  gap:64px;
  background-color: #fcfcfc;
}

.landing-section span{
  color:#3692FF;
  font: 800 18px/26px "Pretendard";

}

.landing-section-content{
  word-break: keep-all;

}

.landing-section-content div {
  margin:12px 24px 0 0;
}

.reverse .landing-section-content div{
  margin:12px 0 0 24px;
}

.landing-section h2{
  font:700 40px/140% "Pretendard";
  color:#374151;
  margin: 0;
}

.landing-section p{
  font:500 24px/32px "Pretendard";
  color:#374151;
  
}

.w-288 {
  width: 288px;
}

.w-317 {
  width: 317px;
}

.w-359 {
  width: 359px;
}

.landing-footer{
  background-color: #cfe5ff;
  height: 540px;
  
}

.landing-content-footer{
  width: 1110px;
  padding-top: 143px;
  margin: 0 auto; 
  display: flex; 
  word-break: keep-all;
  
  
  
}


.landing-footer h2{
  font:700 40px/140% "Pretendard";
  color:#374151;
  text-align: left;
  margin: 112.5px auto 112.5px 0;
  width:295px;
  height: 172px;
}

footer{
  background-color: #111827;
  height: 160px;
  margin: auto;
}

.w-359 h2{
  width: 293px;

}


.text-right {
  text-align: right;
}

.footer-content{
  display: flex;
  padding: 32px;
  width: 1120px;
  margin: auto;
  justify-content: space-between;

}

.icon{
  display: flex;
  width:116px;
  justify-content: space-between;

}

.Pricy_FAQ{
  width: 159px;
  display: flex;
  justify-content: space-between;
}

img[src*="PrivacyPolicy"] {
  width: 100px;
}

img[src*="FAQ"] {
  width: 29px;
}