body {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #FCFCFC;
}

img[src*="logo"] {
  width: 396px;

}
.login-container{
    margin-top:40px;
}

.login-content{
    margin: 231px 640px;
    width:640px;
}

.login-content > a {
  display: flex;
  justify-content: center;
}

.login-button{
    background-color: #3692FF;
    text-align: center;
    border-radius: 40px;
    width: 640px;
    height: 56px;
    color: #F3F4F6;
    font:600 20px/32px "Pretendard";
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.login-form{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form-group input {

  padding: 12px;
  background-color: #F3F4F6;
  border-radius: 12px;
}

.form-group label{
    font:700 18px/26px "Pretendard";
}

.social-login{
    background-color: #E6F2FF;
    width: 640px;
    height: 74px;
    margin:24px auto;
    border-radius: 8px;
    padding:16px 23px;
    
}

.social-login-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 42px;
    align-items: center;
}


.sign-up{
  display:flex;
  flex-direction: row;
  justify-content: center;

}

.sign-up a{
  color:#3692FF;
}

.password-input{
  background-image: url('images/login_page/eyes-close.svg');
  background-repeat: no-repeat;
  display: flex;
  background-position: right 24px center;
}

.icon-container{
  display: flex;
  justify-content: space-between;
  width: 100px;
}
