body {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #fcfcfc;
}

img[src*="logo"] {
  width: 396px;
}
.login-container {
  margin-top: 40px;
}

.login-content {
  margin: 60px 640px;
  width: 640px;
}

.login-content > a {
  display: flex;
  justify-content: center;
}

.signup-button {
  background-color: #3692ff;
  text-align: center;
  border-radius: 40px;
  width: 640px;
  height: 56px;
  color: #f3f4f6;
  font: 600 20px/32px "Pretendard";
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 24px;
  
}

.login-form {
  display: flex;
  flex-direction: column;

}

.form-group input {
  padding: 15px 24px;
  background-color: #f3f4f6;
  border-radius: 12px;
  height: 56px;
}

.form-group label {
  font: 700 18px/26px "Pretendard";
}

.social-login {
  background-color: #e6f2ff;
  width: 640px;
  height: 74px;
  margin: 24px auto;
  border-radius: 8px;
  padding: 16px 23px;
}

.social-login-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 42px;
  align-items: center;
}

.sign-up {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4px;
}

.sign-up a {
  color: #3692ff;
}

.password-input {
  width: 640px;
  background-position: right 24px center;
}

.password-input-repeat {
  width: 640px;

  background-position: right 24px center;
}

.icon-container {
  display: flex;
  justify-content: space-between;
  width: 100px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .login-content {
    margin: 48px auto;
    width: 640px;
  }

  .form-group input {
    padding: 15px 24px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  
  .login-content {
    width: 100%;
    max-width: 400px;
    margin: 24px auto;
    padding: 0 16px;
  }
  img[src*="logo"] {
    width: 100%;
  }

  .signup-button {
    width: 100%;
  }

  .social-login {
    width: 100%;
  }

  .form-group input {
    padding: 15px 24px;
  }
  .login-form {
    gap: 16px;
  }

  .form-group {
    gap: 8px;
  }
}


.error {
  border: 1px solid red;
}

.error-text {
  color: red;
  font: 600 14px/24px "Pretendard";
  margin-top: -8px;
  margin-left: 16px;

}
.disabled {
  background-color: #9ca3af;
}

.signup-button {
  cursor: pointer;
  margin-top: 50px;
}

.signup-button.disabled {
  cursor: not-allowed;
}

.password-wrapper {
  position: relative;
  height: 56px;
}

.toggle-eye {
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
}

.eyeBtn{
  cursor: pointer;

}

.password-wrapper .error-text{
  position: absolute;
  top: calc(100% + 16px);  


}

.form-group:nth-child(4){
  margin-top: 50px;
}
